{
    "ecmaFeatures": {
        "jsx": true
    },
    "rules": {
        "indent": 2,
        "strict": [2, "global"],
        "wrap-iife": [2, "outside"],
        "quotes": [2, "single"],
        "dot-notation": 2,
        "no-undefined": 1,
        "no-underscore-dangle": 0,
        "no-process-exit": 2,
        "camelcase": 1,
        "no-shadow": 0,
        "complexity": [1, 8],
        "no-wrap-func": 2,
        "no-process-exit": 0
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    }
}
