{
    "ecmaFeatures": {
        "jsx": true
    },
    "rules": {
        "indent": 4,
        "strict": true,
        "wrap-iife": true,
        "quotes": [
            2, "single"
        ],
        "dot-notation": true,
        "no-undefined": true,
        "no-underscore-dangle": true,
        "no-process-exit": true,
        "camelcase": true,
        "no-shadow": false,
        "complexity": [
            1, 8
        ],
        "no-wrap-func": true
    },
    "env": {
        "browser": true,
        "node": true,
        "jasmine": true
    }
}
